html{
    margin: 0%;
}
#Home{
    background-color: aqua;

}
#Youtube{
    background-color: aqua;
}
nav{
    text-align: center;
    padding: 10px;
}
span{
    display: block;
}
.Canva{
    margin: 100px auto 10px;
    width: 50%;
    text-align: center;
}

.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}
#Red{
    background-color: red;
}
#Green{
    background-color: green;
}
#Blue{
    background-color: blue;
}
#Grey{
    background-color: grey;
}
#Yellow{
    background-color: yellow;
}
#Orange{
    background-color: orange;
}